---
import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { graphql } from '~/lib/datocms/graphql';
import { Seo, type TitleMetaLinkTag } from '@datocms/astro';
import Header from '~/components/Header';
import Footer from '~/components/Footer';

type Props = {
  additionalSeo?: TitleMetaLinkTag[];
  title: string;
};

const { additionalSeo = [], title } = Astro.props;

const query = graphql(
  /* GraphQL */ `
    query RootQuery {
      _site {
        faviconMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment],
);

const result = await executeQuery(query);
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Donatale</title>
    <Seo data={[...result._site.faviconMetaTags, ...additionalSeo]} />
  </head>
  <body class="bg-gray-100 text-gray-900">
    <Header />

    <main class="container mx-auto p-4">
      <slot />
    </main>

    <Footer />
  </body>
</html>
